# Dependencies
node_modules/
.pnpm-store/

# Builds
.next/
out/
dist/
build/
.turbo/
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/

# Testing & coverage
coverage/
.nyc_output/
playwright-report/
playwright/.cache/
test-results/

# Prisma
prisma/migrations/dev.db*
*.db
*.db-journal

# Caches
.cache/
.eslintcache
.stylelintcache
.parcel-cache/
.swc/

# Editor / IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Mobile (Expo / EAS)
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Vercel
.vercel/

# Sentry
.sentryclirc

# Misc
*.pem
.tmp/
tmp/
